@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}

body {
    font-family: 'Roboto:wght@400;500', Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    place-items: center;
    justify-content: center;
    background-color: #4D46A5;
}

.table {
    background: #fff;
    max-height: 100%;
    height: 400px;
    max-width: 100%;
    width: 340px;
    border-radius: 15px;

    .container {
        margin: 2rem;
    }

    .heading {
        padding: .45rem 1rem;
        border: 1px solid rgb(238, 238, 238);
        border-radius: 12px;

        .package-grid {
            display: flex;
            justify-content: center;

            button {
                font-size: .7rem;
                margin: .5rem .5rem;
                padding: .7rem .9rem;
                background: none;
                &:hover {
                    cursor: pointer;
                }
            }

            button.highlight {
                background: #45A69A;
                color: #eee;
                border-radius: 7px;
            }
        }
    }

    .info {
        margin: 2rem .5rem;

        header {
            
            .title {
                font-size: .75rem;
                color: #777;
            }
        }

        .sub-title {
            font-size: .9rem;
            color: #333;
            display: flex;
            justify-content: space-between;
        }

        .description {
            margin: 1rem 0;
            p {
                font-size: .7rem;
                font-weight: bold;
                color: #555;
                line-height: 1.5;
            }
        }

        .list {
            list-style: none;
            font-size: .8rem;
            color: #333;

            span {


                .far {
                    background: #E0DFF6;
                    color: #6C66B6;
                    border-radius: 50%;
                    margin: .5rem;
                    font-size: 1.25rem;
                }
            }
        }

        .cart-btn {
            background-color: #4D46A5;
            color: #fff;
            padding: .5rem 1rem;
            width: 100%;
            height: 45px;
            border-radius: 30px;
            margin: 1.5rem auto;
            box-shadow: 0 5px 10px #4c46a5c4;
            cursor: pointer;
            &:hover {
                box-shadow: 0 5px 10px #4c46a5;
            }
        }

    }
}